a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

/* Fondo blanco y centrar tarjeta de login/registro */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px); /* Ajusta la altura excluyendo header y footer */
  background-color: #ffffff;
  padding: 20px; /* Espacio adicional para pantallas pequeñas */
}

/* Estilos de la tarjeta de login */
.card-login {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #1d284c; /* Color de fondo de la tarjeta */
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  margin: auto; /* Centrado automático */
}

/* Estilos de las pestañas */
.nav-tabs .nav-link {
  color: #d1d1d1;
  font-weight: bold;
  border: none;
}

.nav-tabs .nav-link.active {
  color: #ffffff;
  background-color: #232c3b;
  border: none;
  border-bottom: 2px solid #1da1f2;
}

.tab-button {
  background-color: transparent;
  border: none;
}

.tab-button:focus {
  outline: none;
}

/* Estilos de entrada */
.card-login .form-control {
  background-color: #2b3a4b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.card-login .form-control::placeholder {
  color: #ffffff;
}

.card-login .btn-primary {
  background-color: #1da1f2;
  border: none;
  width: 100%; /* Botón de ancho completo */
}

.card-login a {
  color: #1da1f2;
}

/* Ajustes en el pie de la tarjeta */
.login-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
