@model freak_store.Models.ShoppingCart

<div class="container mt-5">
    <h2>Carrito de Compras</h2>
    @if (!Model.Items.Any())
    {
        <p>No hay productos en el carrito.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.Product.Name</td>
                        <td>@item.Quantity</td>
                        <td>S/. @item.Product.Price</td>
                        <td>S/. @(item.Product.Price * item.Quantity)</td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="/ShoppingCart/Checkout" class="btn btn-primary">Proceder al Pago</a>
    }
</div>
