@model List<freak_store.ViewModels.OfferViewModel>

<h2>Ofertas de CheapShark</h2>

@if (Model.Any())
{
    <div class="row">
        @foreach (var offer in Model)
        {
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="@offer.Thumbnail" class="card-img-top" alt="@offer.Title">
                    <div class="card-body">
                        <h5 class="card-title">@offer.Title</h5>
                        <p class="card-text">Precio: $@offer.SalePrice</p>
                        <a href="https://www.cheapshark.com/redirect?dealID=@offer.DealID" class="btn btn-primary" target="_blank">Ver oferta</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No se encontraron ofertas en este momento.</p>
}
